/*animation element*/

.animation-element {
  position: relative;
  width: 100%;
  margin: 20px auto;
  padding:0;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  clear: both;
}




/*--------------------------------------*/
/*------------------------------------*/


/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*bounce up animation for the subject*/

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 1900ms ease-out;
  -webkit-transition: all 1900ms ease-out;
  -o-transition: all 1900ms ease-out;
  transition: all 1900ms ease-out;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.subject {
  width: 70%;
  margin: 0px auto;
  padding: 0px;
}

.subject:hover,
.subject:active {
}

section#blog .subject:hover,
section#blog .subject:active {
  box-shadow: none;
}





