@font-face {
font-family: 'montserrat';
src:url('../font/montserrat-l.otf') format('truetype');
}

@font-face {
font-family: 'montserrat-r';
src:url('../font/montserrat-r.otf') format('truetype');
}


/*estructura de pantalla y contenedor*/
#pantalla {
width:100%;
max-width: 100%;
height:auto;
position:relative;
float:left;
margin: 0px auto;
padding: 0;
}

#contenedor{
width: 1170px;
max-width: 100%;
height: auto;
position: relative;
margin: 0px auto;
overflow: hidden;
padding: 0;
}

/*general del BODY*/
html{
  font-size: 10px;
}

body{
	margin: 0px auto;
	padding: 0px;
  	font-family: sans-serif;
  	font-weight: 300;
}

h1, h2, h3{
  	font-family: 'montserrat-r', sans-serif;
  	font-weight: 600;
}

h4, h5, h6{
  	font-family: 'montserrat', sans-serif;
  	font-weight: 600;
}

p{
	font-family: sans-serif;
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 300;
}

h2{
	font-size: 5rem;
}

h3, h4{
	font-size: 3rem;
	text-align: center;
}

h5{
	font-family: 'montserrat', sans-serif;
	font-size: 1.6rem;
	color:gray;
}

a{
	text-decoration: none;
}

/*----SUBIR---*/
.subir{
	position: fixed;
	z-index: 100;
	bottom:10px;
	right:10px;
	opacity:1;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: gray;
	text-align: center;
}

.subir img{
width: 80%;
height: auto;
margin-top: 1rem;
}


/*--------------efecto fotos------*/
section#efecto-fotos{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

section#efecto-fotos article{
  width: 125%;
  height: 100vh;
  overflow: hidden;
}
  section#efecto-fotos article div.movimiento{
    width: 16%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin:0;
    padding:0;
    float: left;
    outline: none;
    border:0;
  }

  /*div.m5{
    width: 20%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin:0;
    padding:0;
    float: right;
    outline: none;
    border:0;
  }*/

  section#efecto-fotos article div.m1{
    background: url(../bodegas.jpg) no-repeat center;
    background-size: auto 100%;
    filter:sepia(70%);
  }
  section#efecto-fotos article div.m2{
    background: url(../hoteleria.jpg) no-repeat center;
    background-size: auto 100%;
    filter:sepia(70%);
  }
  section#efecto-fotos article div.m3{
        background: url(../gastronomia.jpg) no-repeat center;
    background-size: auto 100%;
    filter:sepia(70%);
  }
  section#efecto-fotos article div.m4{
    background: url(../turismo.jpg) no-repeat center;
    background-size: auto 100%;
    filter:sepia(70%);
  }

  section#efecto-fotos article div.m5{
  	width: 26%;
    background: url(../transporte.jpg) no-repeat center;
    background-size: auto 100%;
    filter:sepia(70%);
  }

section#efecto-fotos article:hover div.movimiento{
    width: 10%;
    -webkit-transition: 5s ;
    -o-transition: 5s ;
    transition: 5s ;
  }



/*
article:hover div.m5{
    width: 10%;
  }*/

section#efecto-fotos article div.m1:hover, section#efecto-fotos article div.m2:hover, section#efecto-fotos article div.m3:hover, section#efecto-fotos article div.m4:hover, section#efecto-fotos article div.m5:hover{
    width: 40%;
    box-shadow: 0px 0px 20px black;
    overflow: visible;
    z-index: 10;
    -webkit-transition: 3s ;
    -o-transition: 3s ;
    transition: 3s ;
    filter:sepia(30%);
  }



/*---------HEADER luminoso--------*/
header{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	margin:0px auto;
	padding:0;
    text-align: center;
}

header div#logo{
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 12;
	pointer-events:none;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
}

    header div#logo a{
    	text-decoration: none;
    	color:#fff;
    	pointer-events:all;
    }

    header div#logo a:hover{
    	opacity: 0.7;
    	-webkit-transition: 0.5s;
    	-o-transition: 0.5s;
    	transition: 0.5s;
    }



header div.linea{
	width: 1px;
	height: 100vh;
	background: ;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin:0;
	padding:0;
}

header h1{
	width: 98%;
	height: auto;
	margin:0px auto;
	padding:0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}


/*----------foto cortes---------------*/
section#foto-corte{
	width: 100%;
	height: 75rem;
	position: relative;
	overflow: hidden;
	margin:0px auto;
	filter:sepia(70%);
}

section.foto-corte1{
	background: url(../img/buscartrabajo.jpg) no-repeat;
	background-size:100% auto; 
	background-position: center;
}

section.foto-corte2{
	background: url(../img/encontrar-trabajo.jpg) no-repeat;
	background-size:100% auto; 
	background-position: center top;
}

/*----------PREGUNTAS-------------*/
section#preguntas{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	background-color: ;
	margin:0px auto;
	padding-top:5rem;
	padding-bottom:0rem;
}

section#preguntas h2{
	width: 100%;
	text-align: center;
	margin: 0rem auto;
	padding:0;
	margin-bottom: 10rem;
  	font-family: 'montserrat', sans-serif;
  	font-weight: 300;
  	text-transform: uppercase;
}

section#preguntas h2 img{
	width: 300px;
	height: auto;
	margin-bottom: 7rem;
}

section#preguntas div.iconos{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	margin:5px auto;
	padding: 0;
	text-align: center;
	background:url(../img/lineah.jpg) no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

div.icono{
	width: 170px;
	height: auto;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin:2rem;
	position: relative;
}

div.icono div{
	width: 130px;
	height: 130px;
	border:5px solid #841f2f;
	background-color: #fff;
	border-radius: 50%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding:1rem;
	margin:0px auto;
}

div.icono div img{
	width: 90%;
}

div.icono div:hover{
	border-radius: 0;
	border-top:0;
	border-left:0;
	border-right: 0;
	padding-bottom:0rem;
	background-color: transparent;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}


/*---*/
section#preguntas div.respuestas{
	width: 100%;
	height: auto;
	position: relative;
	margin:0px auto;
	padding-top:4rem;
	padding-bottom:10rem;
	overflow: hidden;
/*	background: url(../img/puntos.jpg) no-repeat;
	background-size: cover;
	background-position: center;*/
	background-color: #DADDCB;
	text-align: center;
}

section#preguntas div.respuestas div.yes{
	width: 70px;
	height: 70px;
	border:5px solid #841f2f;
	background-color: #fff;
	border-radius: 50%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding:2rem;
	margin:0px auto;
	margin-top: 1rem;
	background: url(../img/yes.png) no-repeat center;
	background-size: 100%;
}

section#preguntas div.respuestas div.yes:hover{
	border-radius: 0;
	border-top:5px solid transparent;
	border-left:0;
	border-right: 0;
	background-color: transparent;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section#preguntas div.respuestas article{
	width: 45%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	margin:0;
	padding:2%;
}

section#preguntas div.respuestas article h4{
	color:#c77481;
	text-align: left;
}

section#preguntas div.respuestas article.nomada h4{
	color:#772731;
	text-align: left;
}



section#preguntas div.respuestas article ul li{
	list-style: none;
}

section#preguntas div.respuestas article ul li h3{
	font-family: 'montserrat', sans-serif;
	font-size: 2.6rem;
	margin:1rem auto;
    padding:0;
    padding-bottom: 2rem;
    text-align: left;
}

section#preguntas div.respuestas article .subject {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}


/*-----------NOSOTROS--------------*/
/*---------------------------------*/
    section#nosotros{
    	width: 100%;
    	height: auto;
    	position: relative;
    	margin:0px auto;
    	overflow: hidden;
    	background: url(../img/fondo-nosotros.jpg) no-repeat fixed;
    	background-size: cover;
    	padding-top: 20rem;
    	padding-bottom: 16rem;
    	text-align: center;
    	color:#fff;
    }

    section#nosotros h1{
		width: 100%;
		margin:0px auto;
		padding:0;
    }

        section#nosotros h3{
        	font-size: 4rem;
        	padding: 0;
        	margin:0;
        	margin-top: 5rem;
        }

    section#nosotros h4{
    	width: 60%;
    	font-size: 2rem;
    	line-height: 3.4rem;
    	padding:0;

    	position: relative;
    	display: inline-block;
    	vertical-align: top;
    	text-align: center;

    	margin: 0px 4rem;
    	margin-top: 3rem;
    	margin-bottom: 7rem;
    }

     section#nosotros h4 strong{
     	font-family: 'montserrat-r', sans-serif;
  		font-weight: 800;
  		text-transform: uppercase;
     }

    section#nosotros a{
    	text-decoration: none;
    	color:#fff;
    }

    section#nosotros a p{
    	margin-bottom: -2rem;
    	padding-bottom: -4rem;
    	opacity: 0;
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
    	text-transform: uppercase;
    	font-size: 1.4rem;
    }

    section#nosotros a:hover p{
    	padding: 4rem;
    	padding-bottom: 2rem;
    	margin-bottom: 0;
    	opacity: 1;
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
    }


/*----------funcionamiento-------------*/
/*-------------------------------------*/
/*-------------------

 <section id="funcionamiento">
      <h3>¿Cómo funciona?</h3>
      <article class="puntouno">
        <div id="contenedor">
          <div class="img-puntos">
            <img src="img/punto1.png" alt="punto 1">
          </div>
          <div class="txt-puntos">
            <h2>1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus rerum voluptate atque beatae quidem aliquam, ex ipsum sapiente amet temporibus perferendis autem ullam quo error quis? Inventore assumenda, fugit ipsam.</p>
          </div>
        </div>
      </article>

------------------*/
section#funcionamiento{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin:0px auto;
	padding-top:7rem;
	padding-bottom: 10rem;
}

section#funcionamiento h3{
	font-size: 4rem;
	margin-bottom: 8rem;
}

section#funcionamiento article{
	width: 100%;
	height: auto;
	padding-top: 5rem;
	padding-bottom: 10rem;
	margin:0px auto;
	position: relative;
	overflow: hidden;
}

section#funcionamiento article div.img-puntos{
	width: 50%;
	height: auto;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin:0;
	padding:1rem;
	margin-right: 2rem;
}

section#funcionamiento article div.img-puntos img{
	width: 100%;
	height: auto;
	filter: drop-shadow(1px 0 3px gray);
}

section#funcionamiento article div.txt-puntos{
	width: 30%;
	height: auto;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin:0;
	padding:0;
	margin-left: 2rem;
}

section#funcionamiento article div.txt-puntos h2{
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding:0;
	color:#841f2f;
}

section#funcionamiento article div.txt-puntos p{
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-top: 0.7rem;
	width: 80%;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color:gray;
}

section#funcionamiento article.puntouno, section#funcionamiento article.puntotres{
	background-color: #DADDCB;
}

section#funcionamiento article.puntouno::after, section#funcionamiento article.puntotres::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	background: url(../img/flecha-gris.png) no-repeat center bottom;
	background-color: #fff;
	bottom:0;
}

section#funcionamiento article.puntodos::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	background: url(../img/flecha-blanca.png) no-repeat center bottom;
	background-color: #DADDCB;
	bottom:0;
}


/*------tambien-------*/
section#tambien{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin:0px auto;
	padding-top:0rem;
	padding-bottom: 10rem;
}

section#tambien h3{
	font-size: 4rem;
}


section#tambien article h4{
	color:#c77481;
	text-align: left;
}

section#tambien article.nomada h4{
	color:#772731;
	text-align: left;
}

section#tambien article{
	width: 45%;
	height: auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin:0px auto;
	text-align: left;
	overflow: hidden;
	margin-left: 2rem;
	margin-right: 2rem;
}

section#tambien article ul{
	width: 100%;
	height: auto;
	list-style-image: url('../img/separador.png');
	text-align: left;
	margin:0;
	padding-top:0;
	padding-left: 22px;
}

section#tambien article.nomada ul{
	width: 100%;
	height: auto;
	list-style-image: url('../img/separador-1.png');
	text-align: left;
	margin:0;
	padding-top:0;
	padding-left: 22px;
}

section#tambien article ul li{
	margin:0;
	margin-bottom: 2rem;
  	font-family: 'montserrat', sans-serif;
	font-family: sans-serif;
	font-size: 1.6rem;
	line-height: 2.1rem;
	font-weight: 300;
	padding:0;
}


/*---------antefooter----------*/
section#antefooter{
	width: 100%;
	height: auto;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-align: center;
}

section#antefooter h1{
	width: 20rem;
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin-right: 5rem;
}

section#antefooter h1 img{
	width: 100%;
	height: auto;
}

section#antefooter div.formula{
	width: 300px;
	height: auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-left: 5rem;
	text-align: left;
	border-left:solid 1px white;
}

section#antefooter div.formula select{
	width: 32rem;
	height: 5rem;
	border-radius:0.5rem;
	background-color: rgba(255,255,255,0.3);
	border:0;
	outline:0;
	color:white;
	font-size: 1.6rem;
	text-align: left;
	padding: 1rem;
	margin:1rem auto;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

select option {
    background:  #df5d71;
}




section#antefooter div.formula input{
	width: 30rem;
	height: 3rem;
	border-radius:0.5rem;
	background-color: rgba(255,255,255,0.3);
	border:0;
	outline:0;
	color:white;
	font-size: 1.6rem;
	text-align: left;
	padding: 1rem;
	margin:1rem auto;
}



section#antefooter div.formula textarea{
	width: 30rem;
	height: 10rem;
	border-radius: 0.5rem;
	background-color: rgba(255,255,255,0.3);
	border:0;
	outline:0;
	color:white;
	font-size: 1.6rem;
	text-align: left;
	padding: 1rem;
	margin:1rem auto;
}

section#antefooter div.formula input.enviar{
	width: auto;
	height: auto;
	border-radius: 0.5rem;
	background-color: rgba(255,255,255,0);
	border:2px solid white;
	outline:0;
	color:white;
	font-size: 1.6rem;
	text-align: left;
	padding: 1rem;
	margin:1rem auto;
	margin-top: 2rem;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section#antefooter div.formula input.enviar:hover{
	background-color: rgba(255,255,255,0.6);
	border:2px solid transparent;
	color:#af384b;
	font-weight: 600;
}

section#antefooter div.formula input::placeholder,
section#antefooter div.formula textarea::placeholder,
section#antefooter div.formula select::placeholder{
	color:white;
}



/*----footer--*/
/*-----footer----*/
footer{
	width: 100%;
	height: auto;
	padding-top: 5rem;
	padding-bottom: 5rem;
	overflow: hidden;
	clear: both;
	background-color: darkgray;
	box-shadow: inset 0 15px 15px -12px #333;
}

footer a{
	text-decoration: none;
	color:gray;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 100;
}

footer p{
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 20px;
	color:white;
	font-size: 1.4rem;
}

footer p a strong{
	font-family: 'aller-bold', sans-serif;
	color:white;
}

footer a p{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 40px;
	color:white;
	font-size: 1.2rem;
}

footer a img{
	width: auto;
	height: 18px;
	opacity:0.6;
	margin-left: 5px;
}

footer a img.avanzar{
	width: auto;
	height: 30px;
	opacity:0.6;
	margin-left: 5px;
}










/*-------------MEDIA QUERIES!!!-------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
 @media only screen and (max-width : 1200px){


 	#contenedor{
		width: 900px;
		background-color: orange;
		}

		/*general del BODY*/
		p{
			font-size: 1.7rem;
			line-height: 2.1rem;
		}

		h2{
			font-size: 4rem;
		}

		h3, h4{
			font-size: 2.6rem;
		}

		h5{
			font-size: 1.4rem;
		}


		/*----SUBIR---*/
		.subir{
			width: 30px;
			height: 30px;
		}

		.subir img{
		margin-top: 0.6rem;
		}


		/*--------------efecto fotos------*/
		



		/*---------HEADER luminoso--------*/

		/*----------foto cortes---------------*/
		section#foto-corte{
			width: 100%;
			height: 50rem;
			filter:sepia(70%);
		}

		section.foto-corte1{
			background-size:100% auto; 
		}

		section.foto-corte2{
			background-size:100% auto; 
		}

		/*----------PREGUNTAS-------------*/

		section#preguntas div.iconos{
			width: 100%;
			height: auto;
			overflow: hidden;
			position: relative;
			margin:5px auto;
			padding: 0;
			text-align: center;
			background:url(../img/lineah.jpg) no-repeat;
			background-size: 100% 100%;
			background-position: center;
		}

		div.icono{
			width: 130px;
		}

		div.icono div{
			width: 100px;
			height: 100px;
		}




		/*---*/
		section#preguntas div.respuestas{
			padding-top:2rem;
			padding-bottom:5rem;
		}

		section#preguntas div.respuestas article ul li h3{
			font-size: 2rem;
			margin:0.5rem auto;
		    padding-bottom: 0rem;
		    height: 8rem;
		}



		/*-----------NOSOTROS--------------*/
		/*---------------------------------*/
		    section#nosotros{
		    	padding-top: 10rem;
		    	padding-bottom: 8rem;
		    }

		    section#nosotros h1{
				width: 80%;
		    }

		    section#nosotros h1 img{
		    	width: 100%;
		    	height: auto;
		    }

		        section#nosotros h3{
		        	font-size: 4rem;
		        }


		    section#nosotros h4{
		    	width: 70%;
		    	font-size: 1.8rem;
		    	line-height: 2.8rem;

		    	margin-bottom: 3rem;
		    }

		    


		/*----------funcionamiento-------------*/
		/*-------------------------------------*/
		section#funcionamiento{
			padding-top:5rem;
			padding-bottom: 5rem;
		}

		section#funcionamiento h3{
			font-size: 4rem;
			margin-bottom: 8rem;
		}

		section#funcionamiento article{
			padding-top: 2rem;
			padding-bottom: 7rem;
		}

		section#funcionamiento article div.img-puntos{
			width: 50%;
			margin:0;
			padding:0rem;
			margin-right: 1rem;
		}

		section#funcionamiento article div.txt-puntos{
			width: 45%;
			margin-left: 1rem;
		}

		section#funcionamiento article div.txt-puntos h2{
		}

		section#funcionamiento article div.txt-puntos p{
			font-size: 1.6rem;
			line-height: 2.1rem;
			margin-left: 1rem;
		}

		

		/*------tambien-------*/

		section#tambien h3{
			font-size: 4rem;
		}

		section#tambien article ul li{
			margin-bottom: 1rem;
		}


		/*---------antefooter----------*/
		section#antefooter{
			padding-top: 5rem;
			padding-bottom: 5rem;
		}

		section#antefooter h1{
			width: 20rem;
		}

		



		/*----footer--*/
		/*-----footer----*/
		


 }



 /*-------------MEDIA QUERIES!!!-------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
 @media only screen and (max-width : 860px) {



 	#contenedor{
		width: 500px;
		background-color: lightgreen;
		}

		/*general del BODY*/
		p{
			font-size: 1.6rem;
			line-height: 2.1rem;
		}

		h2{
			font-size: 3rem;
		}

		h3, h4{
			font-size: 2.1rem;
		}

		h5{
			font-size: 1.2rem;
		}


		/*----SUBIR---*/



		/*--------------efecto fotos------*/
		



		/*---------HEADER luminoso--------*/

		/*----------foto cortes---------------*/
		section#foto-corte{
			width: 100%;
			height: 30rem;
			filter:sepia(70%);
		}

		section.foto-corte1{
			background-size:100% auto; 
		}

		section.foto-corte2{
			background-size:100% auto; 
		}

		/*----------PREGUNTAS-------------*/
		section#preguntas{
		}

		section#preguntas h2{
			margin-bottom: 4rem;
		}

		section#preguntas h2 img{
			width: 250px;
			margin-bottom: 2rem;
		}

		section#preguntas div.iconos{
			margin:20px auto;
			background:url(../img/lineah.jpg) no-repeat;
			background-size: 100% 100%;
			background-position: center;
		}

		div.icono{
			width: 93px;
			margin:2px;
			margin-bottom: 0px;
		}

		div.icono div{
			width: 56px;
			height: 56px;
			margin-bottom: 0px;
		}

		div.icono h5{
			padding:0;
			margin:0;
			margin-top: 10px;
		}


		/*---*/
		section#preguntas div.respuestas{
			padding-top:2rem;
			padding-bottom:5rem;
		}

		section#preguntas div.respuestas div.yes{
			width: 30px;
			height: 30px;
		}


		section#preguntas div.respuestas article{
			width: 47%;
			margin:0px 5px;
			padding:0%;
		}

		section#preguntas div.respuestas article h4{
			margin:0;
			height: 4rem;
		}


		section#preguntas div.respuestas article .subject {
		  width: 100%;
		  margin: 0px auto;
		  padding: 0px;
		}

		section#preguntas div.respuestas article ul li h3{
			font-size: 1.6rem;
			margin:0rem auto;
		    padding-bottom: 0rem;
		    height: 9.3rem;
		}

		section#preguntas div.respuestas article ul{
			padding-left: 5px;
		}

		section#preguntas div.respuestas article.nomada ul{
			padding-left: 5px;
		}



		/*-----------NOSOTROS--------------*/
		/*---------------------------------*/
		    section#nosotros{
		    	padding-top: 4rem;
		    	padding-bottom: 4rem;
		    }

		    section#nosotros h1{
				width: 80%;
		    }

		    section#nosotros h1 img{
		    	width: 100%;
		    	height: auto;
		    }

		        section#nosotros h3{
		        	font-size: 3rem;
		        }


		    section#nosotros h4{
		    	width: 70%;
		    	font-size: 1.6rem;
		    	line-height: 2.2rem;

		    	margin-bottom: 1rem;
		    }

		    section#nosotros a img{
		    	width: 60px;
		    }

		    


		/*----------funcionamiento-------------*/
		/*-------------------------------------*/
		section#funcionamiento{
			padding-top:4rem;
			padding-bottom: 4rem;
		}

		section#funcionamiento h3{
			font-size: 3rem;
			margin-bottom: 4rem;
		}

		section#funcionamiento article{
			width: 100%;
			padding-top: 0rem;
			padding-bottom: 4rem;
		}

		section#funcionamiento article.puntouno::after, section#funcionamiento article.puntotres::after{
			height: 30px;
		}

		section#funcionamiento article.puntodos::after{
			height: 30px;
		}

		section#funcionamiento article div.img-puntos{
			width: 100%;
			margin:0;
			padding:0rem;
			margin-right: 0rem;
			margin-bottom: 1rem;
		}

		section#funcionamiento article div.txt-puntos{
			width: 80%;
			margin-left: 0rem;
			margin:0px auto;
			display: block;
		}

		section#funcionamiento article div.txt-puntos h2{
			font-size: 4rem;
		}

		section#funcionamiento article div.txt-puntos p{
			width: 88%;
			font-size: 1.6rem;
			line-height: 2.1rem;
			margin-left: 1rem;
		}

		

		/*------tambien-------*/

		section#tambien h3{
			font-size: 3rem;
		}

		section#tambien article{
			width: 48%;
			margin:0;
			padding:0;
		}

		section#tambien article h4{
			height: 5rem;
			margin:0;
		}

		section#tambien article ul{
			padding-left: 5px;
		}

		section#tambien article.nomada ul{
			padding-left: 5px;
		}

		section#tambien article ul li{
			margin-bottom: 0.5rem;
			font-size: 1.6rem;
			line-height: auto;
		}



		/*---------nosotros----------*/

		section#nosotros h3{
			font-size: 3rem;
			margin:0;
		}


		/*---------antefooter----------*/
		section#antefooter{
			padding-top: 4rem;
			padding-bottom: 4rem;
		}

		section#antefooter h1{
			width: 20rem;
			margin-right: 0rem;
		}

		section#antefooter h1 img{
			width: 100%;
			height: auto;
			margin-bottom: 2rem;
		}

		section#antefooter div.formula{
			width: 300px;
			padding-left: 0rem;
			text-align: center;
			border-left:none;
		}

		section#antefooter div.formula select{
			width: 27rem;
			height: 5rem;	
			font-size: 1.4rem;
		}

		section#antefooter div.formula input{
			width: 25rem;
			font-size: 1.4rem;
		}

		section#antefooter div.formula textarea{
			width: 25rem;
			font-size: 1.4rem;
		}

		section#antefooter div.formula input.enviar{
			font-size: 1.4rem;
		}


			/*----footer--*/
			/*-----footer----*/
			footer{
				padding-top: 4rem;
				padding-bottom: 4rem;
			}

			footer a{
				font-size: 1.2rem;
			}

			footer p{
				margin-bottom: 10px;
				font-size: 1.2rem;
			}

			footer p a strong{
				font-family: 'aller-bold', sans-serif;
				color:white;
			}

			footer a p{
				margin-top: 10px;
				font-size: 1.2rem;
			}

			footer a img{
				width: auto;
				height: 18px;
				opacity:0.6;
				margin-left: 5px;
			}

}

















 /*-------------MEDIA QUERIES!!!-------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
 @media only screen and (max-width : 520px) {



 	#contenedor{
		width: 300px;
		background-color: lightblue;
		}

		/*general del BODY*/
		p{
			font-size: 1.4rem;
			line-height: 1.8rem;
		}

		h2{
			font-size: 2.5rem;
		}

		h3, h4{
			font-size: 2rem;
		}

		h5{
			font-size: 1.4rem;
		}


		/*----SUBIR---*/



		/*--------------efecto fotos------*/
		



		/*---------HEADER luminoso--------*/

		/*----------foto cortes---------------*/
		section#foto-corte{
			width: 100%;
			height: 20rem;
		}

		/*----------PREGUNTAS-------------*/
		section#preguntas{
		}

		section#preguntas h2{
			margin-bottom: 2.5rem;
		}

		section#preguntas h2 img{
			width: 200px;
			margin-bottom: 1rem;
		}

		section#preguntas div.iconos{
			margin:20px auto;
			background:none;
		}

		div.icono{
			width: 120px;
			margin:2px;
			margin-bottom: 30px;
		}

		div.icono div{
			width: 56px;
			height: 56px;
			margin-bottom: 0px;
		}

		div.icono h5{
			padding:0;
			margin:0;
			margin-top: 10px;
		}


		/*---*/

		section#preguntas div.respuestas article{
			width: 100%;
			margin:0px;
		}

		section#preguntas div.respuestas article h4{
			margin:0;
			height: 2rem;
		}

		section#preguntas div.respuestas article ul li h3{
			font-size: 1.6rem;
			margin:0rem auto;
		    padding-bottom: 1rem;
		    height: auto;
		}

		section#preguntas div.respuestas article ul{
			padding-left: 25px;
		}

		section#preguntas div.respuestas article.nomada ul{
			padding-left: 25px;
		}



		/*-----------NOSOTROS--------------*/
		/*---------------------------------*/
		    section#nosotros{
		    	padding-top: 4rem;
		    	padding-bottom: 4rem;
		    }

		    section#nosotros h1{
				width: 100%;
				margin-bottom: 1rem;
		    }

		    section#nosotros h1 img{
		    	width: 100%;
		    	height: auto;
		    }

		    section#nosotros h4{
		    	width: 90%;
		    	font-size: 1.4rem;
		    	line-height: 1.8rem;
		    	margin-bottom: 1rem;
		    	margin:0px auto;
		    }

		    section#nosotros a img{
		    	width: 60px;
		    }

		    section#nosotros h3{
		        font-size: 2rem;
		    }
		    


		/*----------funcionamiento-------------*/
		/*-------------------------------------*/
		section#funcionamiento{
			padding-top:4rem;
			padding-bottom: 4rem;
		}

		section#funcionamiento h3{
			font-size: 3rem;
			margin-bottom: 4rem;
		}

		section#funcionamiento article{
			width: 100%;
			padding-top: 0rem;
			padding-bottom: 4rem;
		}

		section#funcionamiento article.puntouno::after, section#funcionamiento article.puntotres::after{
			height: 30px;
		}

		section#funcionamiento article.puntodos::after{
			height: 30px;
		}

		section#funcionamiento article div.img-puntos{
			width: 100%;
			margin:0;
			padding:0rem;
			margin-right: 0rem;
			margin-bottom: 1rem;
		}

		section#funcionamiento article div.txt-puntos{
			width: 80%;
			margin-left: 0rem;
			margin:0px auto;
			display: block;
		}

		section#funcionamiento article div.txt-puntos h2{
			font-size: 4rem;
		}

		section#funcionamiento article div.txt-puntos p{
			width: 88%;
			font-size: 1.6rem;
			line-height: 2.1rem;
			margin-left: 1rem;
		}

		

		/*------tambien-------*/

		section#tambien h3{
			font-size: 3rem;
		}

		section#tambien article{
			width: 48%;
			margin:0;
			padding:0;
		}

		section#tambien article h4{
			height: 5rem;
			margin:0;
		}

		section#tambien article ul{
			padding-left: 5px;
		}

		section#tambien article.nomada ul{
			padding-left: 5px;
		}

		section#tambien article ul li{
			margin-bottom: 0.5rem;
			font-size: 1.6rem;
			line-height: auto;
		}



		/*---------nosotros----------*/

		section#nosotros h3{
			font-size: 3rem;
			margin:0;
		}


		/*---------antefooter----------*/
		section#antefooter{
			padding-top: 4rem;
			padding-bottom: 4rem;
		}

		section#antefooter h1{
			width: 20rem;
			margin-right: 0rem;
		}

		section#antefooter h1 img{
			width: 100%;
			height: auto;
			margin-bottom: 2rem;
		}

		section#antefooter div.formula{
			width: 300px;
			padding-left: 0rem;
			text-align: center;
			border-left:none;
		}

		section#antefooter div.formula select{
			width: 27rem;
			height: 5rem;	
			font-size: 1.4rem;
		}

		section#antefooter div.formula input{
			width: 25rem;
			font-size: 1.4rem;
		}

		section#antefooter div.formula textarea{
			width: 25rem;
			font-size: 1.4rem;
		}

		section#antefooter div.formula input.enviar{
			font-size: 1.4rem;
		}


			/*----footer--*/
			/*-----footer----*/
			footer{
				padding-top: 4rem;
				padding-bottom: 4rem;
			}

			footer a{
				font-size: 1.2rem;
			}

			footer p{
				margin-bottom: 10px;
				font-size: 1.2rem;
			}

			footer p a strong{
				font-family: 'aller-bold', sans-serif;
				color:white;
			}

			footer a p{
				margin-top: 10px;
				font-size: 1.2rem;
			}

			footer a img{
				width: auto;
				height: 18px;
				opacity:0.6;
				margin-left: 5px;
			}

}